@{
    ViewData["Title"] = "Home Page";
}

<div class="Where"><div>Where do you want to go?</div></div>



<div class="aa"><input class="" list="Stops" placeholder="Enter starting point"></div>

<div class="aa"><input class="" list="Stops" placeholder="Enter destination"></div>



<datalist id="Stops">

    <option value="Claremont" />

    <option value="Bremner" />

    <option value="Tugwell" />

    <option value="Forest Hill" />

    <option value="Clarinus" />

    <option value="Rochester" />

    <option value="Mowbray" />

    <option value="Liesbeeck" />

    <option value="Hiddingh Hall" />

    <option value="Obz Square" />

    <option value="Medical School" />

    <option value="Great Westerford" />

</datalist>
