@{
    ViewData["Title"] = "Home Page";
}

<div class="Where"><div>Where do you want to go?</div></div>



<div class="aa"><input class="" list="Stops" placeholder="Enter starting point"></div>

<div class="aa"><input class="" list="Stops" placeholder="Enter destination"></div>

<button type="button">Search</button> 


